marketing-ia-roi-optimization/workflows/ai-sales-machine-v2.json
{
  "name": "AI Sales Machine V2 - Prospect + SDR + Closer",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-schedule",
      "name": "Daily Trigger (7AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Executa diariamente às 7h"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "triggerAtHour": 7}]
        }
      },
      "id": "schedule-config",
      "name": "Schedule Config",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{$json.source}}", "value2": "linkedin"}]
        }
      },
      "id": "router-sources",
      "name": "Route by Source",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Roteia para diferentes fontes de prospecção"
    },
    {
      "parameters": {
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "id", "value": "={{$env.PHANTOM_AGENT_ID}}"},
            {"name": "argument", "value": "={{JSON.stringify({search: $json.linkedin_search, sessionCookie: $env.LINKEDIN_COOKIE})}}"}
          ]
        }
      },
      "id": "linkedin-phantom",
      "name": "LinkedIn Search (Phantom)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 150],
      "notes": "Busca leads no LinkedIn via Phantom Buster"
    },
    {
      "parameters": {
        "url": "https://api.outscraper.com/maps/search-v3",
        "authentication": "headerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "query", "value": "={{$json.google_maps_query}}"},
            {"name": "limit", "value": "100"},
            {"name": "language", "value": "pt"},
            {"name": "region", "value": "BR"}
          ]
        }
      },
      "id": "google-maps-outscraper",
      "name": "Google Maps Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Busca empresas no Google Maps via Outscraper"
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "person_titles", "value": "={{$json.target_titles}}"},
            {"name": "person_locations", "value": "={{$json.target_locations}}"},
            {"name": "organization_num_employees_ranges", "value": "={{$json.company_size}}"},
            {"name": "per_page", "value": "100"}
          ]
        }
      },
      "id": "apollo-search",
      "name": "Apollo Database Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 450],
      "notes": "Busca leads no Apollo Database (275M+ contatos)"
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [{"fieldName": "email"}]
        }
      },
      "id": "deduplicate",
      "name": "Deduplicate Leads",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [850, 300],
      "notes": "Remove leads duplicados de múltiplas fontes"
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/people/match",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "email", "value": "={{$json.email}}"},
            {"name": "first_name", "value": "={{$json.first_name}}"},
            {"name": "last_name", "value": "={{$json.last_name}}"},
            {"name": "organization_name", "value": "={{$json.company}}"}
          ]
        }
      },
      "id": "apollo-enrich",
      "name": "Enrich with Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "notes": "Enriquece dados do lead (email, telefone, cargo)"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/email-verifier",
        "authentication": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "email", "value": "={{$json.email}}"}
          ]
        }
      },
      "id": "hunter-verify",
      "name": "Verify Email (Hunter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "notes": "Valida se email existe e não vai dar bounce"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Você é um SDR expert. Analise este lead e dê um score de 0-100.\n\nLEAD:\n- Nome: {{$json.name}}\n- Cargo: {{$json.title}}\n- Empresa: {{$json.company}}\n- Tamanho: {{$json.company_size}} funcionários\n- Indústria: {{$json.industry}}\n- Tech Stack: {{$json.technologies}}\n\nICP IDEAL:\n- Cargo: CEO, Founder, CMO, VP Marketing\n- Empresa: 50-500 funcionários\n- Indústria: SaaS, Tech, E-commerce\n\nRetorne JSON:\n{\n  \"fit_score\": 0-100,\n  \"intent_score\": 0-100,\n  \"total_score\": 0-100,\n  \"tier\": \"HOT\" | \"WARM\" | \"COLD\",\n  \"reasoning\": \"explicação curta\",\n  \"recommended_action\": \"ação sugerida\"\n}"
            }
          ]
        }
      },
      "id": "gpt4-scoring",
      "name": "GPT-4 Lead Scoring",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1450, 300],
      "notes": "Qualifica lead com GPT-4 (Fit + Intent Score)"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {"value1": "={{$json.total_score}}", "operation": "largerEqual", "value2": 70}
          ]
        }
      },
      "id": "filter-hot",
      "name": "Filter HOT Leads",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 200],
      "notes": "Separa leads HOT (score >= 70)"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Você é um copywriter expert em cold emails B2B.\n\nEscreva um email personalizado para:\n- Nome: {{$json.name}}\n- Cargo: {{$json.title}}\n- Empresa: {{$json.company}}\n- Indústria: {{$json.industry}}\n- Pain points prováveis: {{$json.pain_points}}\n\nNOSSO PRODUTO: AI Sales Machine que gera R$ 58k/mês de impacto\n\nREGRAS:\n- Máximo 150 palavras\n- Hook personalizado na primeira linha\n- Mencione algo específico da empresa\n- CTA claro (agendar call de 15 min)\n- Tom: profissional mas acessível\n- NÃO use: \"Espero que esteja bem\", \"Gostaria de me apresentar\"\n\nRetorne JSON:\n{\n  \"subject\": \"subject line (max 50 chars)\",\n  \"body\": \"corpo do email\",\n  \"cta_link\": \"{{$env.CALENDLY_LINK}}\"\n}"
            }
          ]
        }
      },
      "id": "gpt4-email",
      "name": "GPT-4 Personalized Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1850, 200],
      "notes": "Gera email 100% personalizado com GPT-4"
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.body}}"
      },
      "id": "send-email",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [2050, 200],
      "notes": "Envia email via Gmail"
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "contact",
        "additionalFields": {
          "email": "={{$json.email}}",
          "firstName": "={{$json.first_name}}",
          "lastName": "={{$json.last_name}}",
          "company": "={{$json.company}}",
          "jobTitle": "={{$json.title}}",
          "leadStatus": "={{$json.tier}}"
        }
      },
      "id": "hubspot-create",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [2250, 200],
      "notes": "Cria contato no HubSpot CRM"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "value": "={{$env.GOOGLE_SHEET_ID}}"},
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.name}}",
            "Email": "={{$json.email}}",
            "Company": "={{$json.company}}",
            "Title": "={{$json.title}}",
            "Source": "={{$json.source}}",
            "Score": "={{$json.total_score}}",
            "Tier": "={{$json.tier}}",
            "Status": "Email Sent",
            "Date": "={{$now.format('YYYY-MM-DD HH:mm')}}"
          }
        }
      },
      "id": "sheets-log",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [2450, 300],
      "notes": "Salva lead na planilha de tracking"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.reply_type}}", "value2": "objection"}
          ]
        }
      },
      "id": "detect-objection",
      "name": "Detect Objection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2650, 400],
      "notes": "Detecta se resposta é uma objeção"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Você é um Closer expert. O lead respondeu com uma objeção.\n\nOBJEÇÃO DO LEAD:\n{{$json.reply_content}}\n\nCONTEXTO:\n- Empresa: {{$json.company}}\n- Cargo: {{$json.title}}\n- Histórico: {{$json.conversation_history}}\n\nOBJEÇÕES COMUNS E RESPOSTAS:\n1. \"Muito caro\" → Mostrar ROI (R$ 58k/mês impacto, payback 12 dias)\n2. \"Preciso pensar\" → Oferecer case study de empresa similar\n3. \"Já usamos X\" → Comparativo objetivo (features, preço, ROI)\n4. \"Não é prioridade\" → Quantificar custo de não agir\n5. \"Preciso falar com sócio\" → Oferecer apresentação para ambos\n\nEscreva resposta que:\n- Reconhece a objeção (empatia)\n- Responde com dados concretos\n- Inclui CTA claro\n- Máximo 100 palavras\n\nRetorne JSON:\n{\n  \"response\": \"texto da resposta\",\n  \"next_action\": \"send_proposal\" | \"schedule_call\" | \"send_case_study\" | \"escalate_to_human\"\n}"
            }
          ]
        }
      },
      "id": "gpt4-objection",
      "name": "GPT-4 Objection Handler",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [2850, 400],
      "notes": "Responde objeções automaticamente com GPT-4"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.next_action}}", "value2": "send_proposal"}
          ]
        }
      },
      "id": "check-proposal",
      "name": "Should Send Proposal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3050, 400],
      "notes": "Verifica se deve gerar proposta"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "Gere uma proposta comercial para:\n\nEMPRESA: {{$json.company}}\nCONTATO: {{$json.name}} ({{$json.title}})\nNECESSIDADES: {{$json.needs}}\n\nNOSSO PRODUTO: AI Sales Machine\nPREÇO BASE: R$ 2.000/mês\nIMPACTO ESPERADO: R$ 58.000/mês (ROI 2.900%)\n\nGere proposta em Markdown com:\n1. Resumo Executivo\n2. Diagnóstico (baseado nas necessidades)\n3. Solução Proposta\n4. Investimento e ROI\n5. Próximos Passos\n6. Termos e Condições básicos"
            }
          ]
        }
      },
      "id": "gpt4-proposal",
      "name": "GPT-4 Generate Proposal",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [3250, 400],
      "notes": "Gera proposta comercial personalizada"
    },
    {
      "parameters": {
        "url": "https://api.docusign.com/restapi/v2.1/accounts/{{$env.DOCUSIGN_ACCOUNT_ID}}/envelopes",
        "authentication": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "emailSubject", "value": "Proposta Comercial - {{$json.company}}"},
            {"name": "documents", "value": "={{$json.proposal_document}}"},
            {"name": "recipients", "value": "={{$json.recipient_info}}"},
            {"name": "status", "value": "sent"}
          ]
        }
      },
      "id": "docusign-send",
      "name": "Send Contract (DocuSign)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3450, 400],
      "notes": "Envia contrato para assinatura via DocuSign"
    },
    {
      "parameters": {
        "url": "={{$env.CALENDLY_WEBHOOK_URL}}",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "email", "value": "={{$json.email}}"},
            {"name": "name", "value": "={{$json.name}}"},
            {"name": "event_type", "value": "demo-30min"}
          ]
        }
      },
      "id": "calendly-book",
      "name": "Book Meeting (Calendly)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 500],
      "notes": "Agenda reunião automaticamente via Calendly"
    },
    {
      "parameters": {
        "channel": "#sales-alerts",
        "text": "🎉 *Nova Venda Fechada!*\n\nEmpresa: {{$json.company}}\nContato: {{$json.name}}\nValor: R$ {{$json.deal_value}}\n\nFechado por: AI Closer\nTempo total: {{$json.days_to_close}} dias",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [3650, 400],
      "notes": "Notifica equipe quando venda é fechada"
    }
  ],
  "connections": {
    "Daily Trigger (7AM)": {
      "main": [[{"node": "Route by Source", "type": "main", "index": 0}]]
    },
    "Route by Source": {
      "main": [
        [{"node": "LinkedIn Search (Phantom)", "type": "main", "index": 0}],
        [{"node": "Google Maps Search", "type": "main", "index": 0}],
        [{"node": "Apollo Database Search", "type": "main", "index": 0}]
      ]
    },
    "LinkedIn Search (Phantom)": {
      "main": [[{"node": "Deduplicate Leads", "type": "main", "index": 0}]]
    },
    "Google Maps Search": {
      "main": [[{"node": "Deduplicate Leads", "type": "main", "index": 0}]]
    },
    "Apollo Database Search": {
      "main": [[{"node": "Deduplicate Leads", "type": "main", "index": 0}]]
    },
    "Deduplicate Leads": {
      "main": [[{"node": "Enrich with Apollo", "type": "main", "index": 0}]]
    },
    "Enrich with Apollo": {
      "main": [[{"node": "Verify Email (Hunter)", "type": "main", "index": 0}]]
    },
    "Verify Email (Hunter)": {
      "main": [[{"node": "GPT-4 Lead Scoring", "type": "main", "index": 0}]]
    },
    "GPT-4 Lead Scoring": {
      "main": [[{"node": "Filter HOT Leads", "type": "main", "index": 0}]]
    },
    "Filter HOT Leads": {
      "main": [
        [{"node": "GPT-4 Personalized Email", "type": "main", "index": 0}],
        [{"node": "Log to Google Sheets", "type": "main", "index": 0}]
      ]
    },
    "GPT-4 Personalized Email": {
      "main": [[{"node": "Send Email (Gmail)", "type": "main", "index": 0}]]
    },
    "Send Email (Gmail)": {
      "main": [[{"node": "Create HubSpot Contact", "type": "main", "index": 0}]]
    },
    "Create HubSpot Contact": {
      "main": [[{"node": "Log to Google Sheets", "type": "main", "index": 0}]]
    },
    "Detect Objection": {
      "main": [
        [{"node": "GPT-4 Objection Handler", "type": "main", "index": 0}],
        [{"node": "Book Meeting (Calendly)", "type": "main", "index": 0}]
      ]
    },
    "GPT-4 Objection Handler": {
      "main": [[{"node": "Should Send Proposal?", "type": "main", "index": 0}]]
    },
    "Should Send Proposal?": {
      "main": [
        [{"node": "GPT-4 Generate Proposal", "type": "main", "index": 0}],
        [{"node": "Send Email (Gmail)", "type": "main", "index": 0}]
      ]
    },
    "GPT-4 Generate Proposal": {
      "main": [[{"node": "Send Contract (DocuSign)", "type": "main", "index": 0}]]
    },
    "Send Contract (DocuSign)": {
      "main": [[{"node": "Notify Slack", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {"name": "AI Sales Machine"},
    {"name": "Lead Generation"},
    {"name": "SDR Automation"},
    {"name": "Closer AI"}
  ],
  "meta": {
    "templateId": "ai-sales-machine-v2",
    "templateVersion": "2.0",
    "author": "Course Architect (CreatorOS)",
    "description": "AI Sales Machine completa: Prospect (LinkedIn + Maps + Apollo) + SDR (Enrich + Score + Outreach) + Closer (Objection + Proposal + Contract)",
    "impact": "R$ 58.000/mês (R$ 40k receita + R$ 18k economia)",
    "roi": "2.900%",
    "payback": "12 dias"
  },
  "pinData": {}
}
